@page "/"

<h1>Timer</h1>

<div class="jumbotron">
    <h2 class="display-4">@this.DisplayValue</h2>

    <button type="button" class="btn btn-success" disabled="@IsTimerActive" @onclick="() => { this.StartAsync(); }">Start</button>
    <button type="button" class="btn btn-danger" disabled="@(!IsTimerActive)" @onclick="() => { this.StopAsync(); }">Stop</button>
    <button type="button" class="btn btn-outline-danger" @onclick="() => { this.ResetAsync(); }">Reset</button>

    <hr />

    <div id="scrollbox">
        @if (Segments.Count > 0)
        {
            <table class="arrowes-table table-striped">
                <thead>
                    <tr>
                        <th>Segment</th>
                        <th>Length</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Segments)
                    {
                        <tr>
                            <td>@(item.Index + 1)</td>
                        <td>@CalculateDisplayValue(item.Seconds)</td>
                        <td><button type="button" class="btn btn-danger" @onclick="() => { this.RemoveSegmentAsync(item.Index); }"><span class="oi oi-trash" aria-hidden="true"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
    <div>Total Time: @GetTotalDisplayValue()</div>
    <button type="button" class="btn btn-outline-danger" @onclick="() => { this.ResetSegmentsAsync(); }">Reset Segments</button>
</div>
